body{
    margin:0;
    background:#111;
    font-family:Arial;
    color:white;
    text-align:center;
}

#gameContainer{
    display:none;
}

#gameOverScreen{
    display:none;
}

#startScreen{
    margin-top:150px;
}

button{
    padding:15px 20px;
    font-size:20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

canvas{
    background:#444;
    border:3px solid white;
}

.controls{
    margin-top:10px;
}

.controls button{
    width:80px;
    margin:5px;
}

#hud{
    width:400px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    padding:10px;
}
